.link {
  margin-right: 0.5rem;
  transition: all 0.2s;
  color: #6b7280; /* Color normal (gris-500) */
}

.link:hover {
  text-decoration: underline;
  color: #60a5fa; /* hover:text-blue-400 */
}

.active-link {
  color: #3b82f6; /* text-blue-500 */
  font-weight: 500; /* Opcional: para resaltar más */
}